/.cache/
/.config/
/.git-post/
/.vim/
/.birdfirm/
/.tmux.wrapper/
/.ansible/

/.viminfo
/.bash_history

/plugins/
/tmp/
/bin/development-environment-setup
/dockerfiles/devel/ssh/authorized_keys

/.shared/
/.aws
/.config
/.docker
/.docker_build
/.git-post
/.ssh
/.terminfo
