/.cache/
/.config/
/.git-post/
/.vim/
/.birdfirm/
/.tmux.wrapper/
/.ansible/
/.zplug/

/.viminfo
/.bash_history
/.sudo_as_admin_successful

/plugins/
/tmp/
/bin/development-environment-setup
/dockerfiles/devel/ssh/authorized_keys

/.shared/
/.aws
/.config
/.docker
/.docker_build
/.gem
/.gsutil
/.git-post
/.kube
/.local
/.ssh
/.terminfo
/.zsh

/.histfile
/.zcompdump
